---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getEntryBySlug } from "astro:content";

const { slug } = Astro.params;
const post = await getEntryBySlug("blog", slug);
---

<BaseLayout title={post.data.title}>
  <h1>{post.data.title}</h1>
  <article>
    <post.Content />
  </article>
</BaseLayout>