---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<BaseLayout title="Low-Level Notes">
  <h1>Low-Level Notes</h1>
  <p>Catatan belajar systems & low-level programming.</p>

  <ul>
    {posts.map((post: { slug: any; data: { title: unknown; }; }) => (
      <li>
        <a href={`/blog/${post.slug}`}>
          {post.data.title}
        </a>
      </li>
    ))}
  </ul>
</BaseLayout>